<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>

    <%- include('./partials/nav.ejs') %>

    <div class="about content">
        <h2>About Us</h2>
        <p>Hello, this blog was created by Noor Ahmed and hopefully you will enjoy it :)</p>
        <p>This web application was developed using node.js, express.js, MongoDB/Mongoose and CSS.</p>
        <p>The reason for the strange name of the blog is because it is my username on multiple platforms and I like the movie.</p>
        <p>This website was deployed on the 29/06/2022</p>
    </div>

    <%- include('./partials/footer.ejs') %>
</body>
</html>